### 1061.

#### (문제 풀이) "입력된 정수 두 개를 비트단위로 or 연산한 후 그 결과를 정수로 출력해보자.
#### 비트단위(bitwise) 연산자 |(or, vertical bar, 버티컬바)를 사용하면 된다."

In [3]:
a, b = input().split()
x = int(a)
y = int(b)

print(x | y)

3 5
7

### 1062.

#### (문제 풀이) "입력된 정수 두 개를 비트단위로 xor 연산한 후 그 결과를 정수로 출력해보자.
#### 비트단위(bitwise) 연산자 ^(xor, circumflex/caret, 서컴플렉스/카릿)를 사용하면 된다."

In [5]:
a, b = input().split()
x = int(a)
y = int(b)

print(x^y)

3 5
6

### 1063.

#### (문제 풀이) 삼항연산
##### 조건문 ? 참일 때 : 거짓일 때

In [9]:
a, b = input().split()
x = int(a)
y = int(b)
print(x if x > y else y)

123 456
456

### 1064.

#### (문제 풀이) 삼항 연산 " 세 정수 중 가장 작은 값 출력"

In [13]:
a, b, c = input().split()
x = int(a)
y = int(b)
z = int(c)

q1 = (x if x < y else y)
print(q1 if q1 < z else z)

10 3 7
3

### 1065.

In [15]:
a, b, c = map(int, input().split())

if a % 2 == 0:
    print(a)

if b % 2 == 0 :
    print(b)

if c % 2 == 0:
    print(c)

1 2 4
2
4

### 1066.

In [16]:
a, b, c = map(int, input().split())

if a % 2 == 0:
    print("even")
else:
    print("odd")
    
if b % 2 == 0:
    print("even")
else:
    print("odd")
    
if c % 2 == 0:
    print("even")
else:
    print("odd")

1 2 8
odd
even
even

### 1067.

In [20]:
a = int(input())

print("minus" if a < 0 else "plus")
print("even" if a % 2 == 0 else "odd")

-2147483648
minus
even

In [23]:
a = int(input())

if a > 0:
    print("plus")
else:
    print("minus")
    
if a % 2 == 0 :
    print("even")
else:
    print("odd")

-2147483648
minus
even

### 1068.

In [24]:
a = int(input())

if 90 <= a <= 100: 
    print("A")
elif 70 <= a <= 89:
    print("B")
elif 40 <= a <= 69:
    print("C")
elif 0 <= a <= 39:
    print("D")

73
B

### 1069.

In [26]:
a = input()

if a == "A":
    print("best!!!")
elif a == "B":
    print("good!!")
elif a == "C":
    print("run!")
elif a == "D":
    print("slowly~")
else:
    print("what?")

F
what?

### 1070.

In [27]:
a = int(input())

if a == 12 or a == 1 or a == 2:
    print("winter")
elif a == 3 or a == 4 or a == 5:
    print("spring")
elif a == 6 or a == 7 or a == 8:
    print("summer")
elif a == 9 or a == 10 or a == 11:
    print("fall")

12
winter

### 1071.

In [32]:
a = map(int, input().split())

for x in a:
    print(x)
    if x == 0:
        break

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3
0

In [43]:
a = map(int, input().split())

for x in a:
    if x == 0:
        break
    print(x)

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

## 1072.

In [48]:
a = input()
b = input().split()

for x in b:
    print(x)

5
1 2 3 4 5
1
2
3
4
5

### 1073.

In [53]:
a = map(int, input().split())

for x in a :
    if x != 0 :
        print(x)
    else:
        break

7 4 2 3 0 1 5 6 9 10 8
7
4
2
3

### 1074.

#### (문제 풀이) "정수가 1개 입력, 카운트다운" 
##### while 문 사용

In [58]:
a = input()
x = int(a)

while x >= 1:
    print(x)
    x = x - 1

5
5
4
3
2
1

### 1075.

In [59]:
a = int(input())

while a >= 1:
    a = a - 1
    print(a)

5
4
3
2
1
0

### 1076.

In [70]:
a = input()
b = ord('a')
asc = ord(a)
while asc >= b:
    print(chr(b))
    b = b + 1

f
a
b
c
d
e
f

In [72]:
a = ord(input())
b = ord('a')

while a >= b:
    print(chr(b))
    b = b + 1

f
a
b
c
d
e
f

### 1077.

In [73]:
a = int(input())
b = 0

while a >= b:
    print(b)
    b = b + 1

4
0
1
2
3
4

### 1078.

In [91]:
a = int(input())
sum = 0 

for x in range(1, a + 1):
    if (x % 2 == 0):
        sum += x
print(sum)

8
20

### 1079.

In [96]:
a = input().split()

for x in a:
    print(x)    
    if x == 'q':
        break

x b k d l q g a c
x
b
k
d
l
q

### 1080.

In [120]:
a = int(input())
sum = 0

for x in range(1, a):
    sum += x
    if sum >= a:
        break
print(x)

55
10

In [122]:
a = input()
n = int(a)

i = 0
s = 0

while s < n:
    i += 1
    s += i
    
print(i)

55
10