### 1008.

In [43]:
print("\u250C\u252C\u2510")
print("\u251C\u253C\u2524")
print("\u2514\u2534\u2518")

┌┬┐
├┼┤
└┴┘

### 1010.

In [44]:
a = input()
a = int(a)
print(a)

15
15

### 1011.

In [45]:
a = input()
a = str(a)
print(a)

p
p

### 1012.

In [3]:
a = input()
a = float(a)
print(a)

"""오답~!"""

1.450
1.45

'오답~!'

In [ ]:
'''
문제 풀이
실수형(float형)으로 변수를 선언해야 하므로 input() 함수를 float()함수로 감싸주었습니다.
모범 답안과 같이 따로 사용해도 문제 없습니다.
출력이 실수이므로 float형으로 출력해야 하므로 %f를 사용하였습니다.
제 풀이에 쓰인 %0.6f는 float형을 소수 6자리까지 나타내라는 뜻입니다.
print() 함수 뒤에 붙은 % a는 a를 float형으로 나타내라는 뜻입니다.
더 공부하고 싶은 분은 "파이썬 문자열 포매팅"으로 검색해보시면 많은 정보를 얻을 수 있습니다.
'''

In [5]:
a = input()
a = float(a)
print('%f'% a)

1.450
1.450000

### 1013.

In [13]:
a, b = input().split()
m = int(a)
n = int(b)

print(m, n)

1 2
1 2

In [14]:
'''
문제 풀이
공백으로 구분된 두 입력을 입력받으려면, input() 함수에 split() 함수를 첨가해야 합니다.
풀이와 같이 input().split()으로 a와 b에 각각 입력받을 수 있습니다.
그리고 print() 함수로 출력해주면 됩니다.
'''

'\n문제 풀이\n공백으로 구분된 두 입력을 입력받으려면, input() 함수에 split() 함수를 첨가해야 합니다.\n풀이와 같이 input().split()으로 a와 b에 각각 입력받을 수 있습니다.\n그리고 print() 함수로 출력해주면 됩니다.\n'

### 1014.

In [22]:
a, b = input().split()
print(b, a)

A b
b A

### 1015.

In [25]:
a = input()
a = float(a)
print("%.2f" % a)

1.458
1.46

### 1017.

In [29]:
a = input()
a = int(a)

print(a,a,a)

125
125 125 125

### 1018.

In [34]:
h, m = input().split(":")

print(int(h), int(m), sep = ':')

3:16
3:16

### 1019.

In [40]:
y, m, d = input().split(".")
y = int(y)
m = int(m)
d = int(d)
print("%04d.%02d.%02d" % (y, m, d))

2013.8.7
2013.08.07

### 2020.

In [42]:
a, b = input().split("-")

print(a, b, sep = '')

000907-1121112
0009071121112